<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form method="POST" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Log In" />
        <input type="hidden" name="next" value="{{next}}" />
    </form>
    {% extends 'base.html' %}
    {% block title %}Sign in {% endblock %}
    {% block content %}
    <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
    {% endblock %}
</body>
</html>